<div [formGroup]="item">
  <label>
    contactType:
    <input type="text" formControlName="contactType">
  </label>
  <label>
    description:
    <input type="text" formControlName="description">
  </label>
  <label>
    value:
    <input type="text" formControlName="value">
  </label>
  <label>
    information:
    <input type="text" formControlName="information">
  </label><label>
    isMain:
    <input type="text" formControlName="isMain">
  </label><label>
    deletedDate:
    <input type="text" formControlName="deletedDate">
  </label>
</div>