<div [formGroup]="item">
  <label>
    Street:
    <input type="text" formControlName="street">
  </label>
  <label>
    Number:
    <input type="text" formControlName="number">
  </label>
  <label>
    information:
    <input type="text" formControlName="information">
  </label>
  <label>
    city:
    <input type="text" formControlName="city">
  </label><label>
    state:
    <input type="text" formControlName="state">
  </label><label>
    country:
    <input type="text" formControlName="country">
  </label><label>
    zipCode:
    <input type="text" formControlName="zipCode">
  </label><label>
    removalDate:
    <input type="text" formControlName="removalDate">
  </label>
</div>